<h1>Contact</h1>

<h2>Informations personnelles</h2>
<p><strong>Sven Glauser</strong></p>
<div class="mail">
  <mat-icon>mail</mat-icon>
  <a href="mailto:svenglauser04@gmail.com">svenglauser04@divtec.ch</a>
</div>
<a href="https://instagram.com/sven25_11" class="instagram">
  <img src="assets/instagram/instagram.png" alt="Logo instagram">
  <span>@sven25_11</span>
</a>

<h2>Adresse</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10504.505845857397!2d7.213670831196042!3d47.35187857686876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4791e56b831dc059%3A0xf2234e56eb60b4b8!2zQm_DqWNvdXJ0!5e0!3m2!1sfr!2sch!4v1649142847018!5m2!1sfr!2sch" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
