mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-content: center;

  position: relative;
  z-index: 1000;

  height: var(--header-height);

  box-shadow: 0 0 10px 5px rgb(0 0 0 / 50%);
}

.logo {
  height: calc(var(--header-height) - 10px);
}
