mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-content: center;

  position: relative;
  z-index: 1000;

  height: 66px;

  box-shadow: 0 0 10px 5px rgb(0 0 0 / 50%);
}

.presentation {
  line-height: 15px;
  font-size: 15px;
  text-align: right;
}

.name {
  font-size: 20px;
  line-height: 20px;
}
