<div class="container">
  <div>
    <h1>Oups !</h1>

    <h2>La page que vous cherchez semble introuvable</h2>

    <p>Code d'erreur : 404</p>

    <div>
      <p>Voici quelque liens utiles à la place :</p>
      <p><a href="accueil">Accueil</a></p>
      <p><a href="projets">Mes projets</a></p>
      <p><a href="competences">Compétences</a></p>
      <p><a href="formation">Formation</a></p>
    </div>
  </div>
  <div class="img">
    <img src="assets/page/404/404.png" alt="Page not found">
  </div>
</div>
