mat-sidenav-container {
  height: calc(100vh - var(--header-height));
}

mat-sidenav {
  width: 15%;
  min-width: min-content;
}

mat-sidenav-content {
  height: 100%;

  padding: 20px 20%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  mat-sidenav {
    width: 100%;
  }

  /* Faire apparaître le menu depuis le haut */
  .mat-drawer {
    transform: translate3d(0, -100%, 0);
  }

  mat-sidenav-content {
    padding: 20px;
  }
}
